.addformreg{
    width: 400px;
    height: 592px;
    margin-left: 567px;
    margin-top:57px;
    justify-content: center;
    background: #fff;
    border: 7px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 10 / 64%), 0 8px 16px rgb(0 10 0 / 34%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}
h3{
    text-align: center;
    margin-top:20px;
    font-family: sans-serif;
    background-image: linear-gradient(to bottom right,#003060,#055C9D);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}
label,input,select{
    width: 240px;
    display: inline-block;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
label{
    margin-left: 70px;
    margin-top: 25px;
    background-image: linear-gradient(to bottom right,#003060,#055C9D);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
}



#username,#password,#confirmpassword,#Rolename{
    padding-right: 70px;

}
#reg{
    justify-content: center;
    margin-top: 16px;
    margin-right:3px;
    margin-bottom: 3px;
}
.errorMsgReg{

    color: red;
    padding-right: 1px;

}
#username{
margin-top: 2px;
}